.tooltip__wrapper {
    max-width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    background-color: #1d1e30;
    color: white;
    border: 1px solid #1d1e30;
    z-index: 999;
    border-radius: 6px;
}

.tooltip-arrow-left::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    top: 50%;
    border: 8px solid transparent;
    border-left: 0;
    border-right: 8px solid #1d1e30;
    transform: translate(calc(-100% - 5px), -50%);
}

.tooltip-arrow-top::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    left: 50%;
    border: 8px solid transparent;
    border-top: 0;
    border-bottom: 8px solid #1d1e30;
    transform: translate(-50%, calc(-100% - 5px));
}

.tooltip-arrow-right::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    right: 6px;
    top: 50%;
    border: 8px solid transparent;
    border-right: 0;
    border-left: 8px solid #1d1e30;
    transform: translate(calc(100% + 5px), -50%);
}

.tooltip-arrow-bottom::before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    left: 50%;
    bottom: 5px;
    border: 8px solid transparent;
    border-bottom: 0;
    border-top: 8px solid #1d1e30;
    transform: translate(-50%, calc(100% + 5px));
}
